.canvas {
	border-style: ridge;
	border-color: #474e57;
	background-color: #262b2f;
	padding: 20px;
}

.divcanvas{
	padding: 12px;
	/* alignment-baseline: middle; */
	/* position: relative; */
	/* float: left; */
	/* width: 42px; */
	/* height: 100%; */
}

.bar-element {
	fill-opacity: 0.7;
	stroke: black;
	stroke-width: 0.25;
	stroke-opacity: 1;
}

.bar-graph-title {
	font-family: sans-serif;
	font-size: 32px;
	fill: #bfc3c9;
	pointer-events: none;
}

.status-token-death {
	fill : #E61820;
	fill-opacity : 0.85;
	stroke : #9D4257;
	stroke-width : 5;
	stroke-opacity : 0.9;
}

.status-token-gold {
	fill : #EBCC28;
	fill-opacity : 0.85;
	stroke : #D69C0A;
	stroke-width : 5;
	stroke-opacity : 0.9;
}


.status-token-frag {
	fill : #4BB36C;
	fill-opacity : 0.85;
	stroke : #36814D;
	stroke-width : 5;
	stroke-opacity : 0.9;
}


.status-token-text {
	font-family : sans-serif;
	font-size : 18;
	fill : white;
	text-anchor : middle;
	pointer-events: none;
	pointer-events: none;
}

.line-graph-title {
	font-family: sans-serif;
	font-size: 32px;
	fill: #bfc3c9;
}

.team-graph-title {
	font-family: sans-serif;
	font-size: 32px;
	fill: #bfc3c9;
	pointer-events: none;
}

.player-match-title {
	font-family: sans-serif;
	font-size: 32px;
	fill: #bfc3c9;
	pointer-events: none;
}

.team-player-info-title {
	font-family: sans-serif;
	font-size: 18;
	padding: 4px;
	fill: #bfc3c9;
	pointer-events: none;
}

.team-player-info {
	font-family: sans-serif;
	font-size: 16;
	padding: 4;
	fill: #c73025;
	pointer-events: none;
}

.team-player-info-value {
	font-family: sans-serif;
	font-size: 12;
	padding: 4;
	fill: #bfc3c9;
	text-anchor: right;
	pointer-events: none;
}

.comparison-graph-text {
	font-family: sans-serif;
	font-size: 15;
	padding: 4;
	fill: #c73025;
	pointer-events: none;
}

.player-match-name {
	font-family: sans-serif;
	font-size: 24;
	pointer-events: none;
}

.comparsion-graph-text {
	font-family: sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.bar-info-text {
	fill: white;
	pointer-events: none;
}

.time-axis text {
	font-size: 8px;
	pointer-events: none;
}

line.line-graph-segment {
	stroke: white;
	stroke-width: 2;
}

.time-axis path.domain {
	opacity: 0.7;
	stroke: #000;
	stroke-width: 2px;
}

.parent-resource {
	stroke: black;
	stroke-width: 5;
}

.stat-polygon-circle{
	fill: #2899b7;
	stroke: #bce5f0;
	stroke-width: 2px;
	fill-opacity: 0.25;
	stroke-opacity: 0.9;
}

.stat-polygon-line{
	stroke: #bce5f0;
	stroke-width: 2px;
	stroke-opacity: 0.9;
}

.stat-polygon-poly{
	fill: #a62530;
	stroke: #bce5f0;
	stroke-width: 2px;
	fill-opacity: 0.65;
	stroke-opacity: 0.9;
}

.stat-polygon-text-element{
	fill: #bce5f0;
	fill-opacity: 0.9;
	text-anchor: middle;
	pointer-events: none;
}

div.tooltip{
	position: absolute;
  text-align: center;
  width: '100%';
  height: '100%';
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.tooltip{
  text-align: center;
  width: '100%';
  height: '100%';
  padding: 8px;
  font: 12px Sans-serif;
  background: white;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
.dot-element{
	fill: #bce5f0;
	stroke: #bce5f0;
	stroke-width: 2px;
	fill-opacity: 0.8;
}

.line-graph-tick{
	fill: white;
	fill-opacity: 0.9;
	stroke: white;
	stroke-width: 2px;
	stroke-opacity: 0.9;
}
