.jcounter {
    margin:5px 0 0 11px;
}

.list-img1 { background: url("../style/img/list-img1.png") no-repeat 0 8px; }
.list-img2 { background: url("../style/img/list-img2.png") no-repeat 0 8px; }
.list-img3 { background: url("../style/img/list-img3.png") no-repeat 0 8px; }
.list-img4 { background: url("../style/img/list-img4.png") no-repeat 0 8px; }
.list-img5 { background: url("../style/img/list-img5.png") no-repeat 0 8px; }