.appendoButtons button {
    background: #f3f3f3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
    background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);
    border-color: #bbb;
    color: #666666;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    line-height: 23px;
    height: 24px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.font-preview{
    font-size:2em;
    line-height:1.2em;
    width: 40%;
    display: inline-block;
}

.appendoButtons button:hover{color: #333;}

.tk_columns_3 select{width: 80%}

.tk-widget-admin {
    float:left;
    width:430px;
    padding:0 0 0 5px;
    margin-bottom:0;
}

.tk-widget-admin a {
    float:right;
    width:18px;
    height:18px;
    margin:13px 10px 0 0;
}

.tk-widget-admin h4 {
    float:left;
    padding: 0 10px;
}


.add_block_link{
    background-repeat:no-repeat;
    background-position: top;
    width: 122px;
    height: 45px;
    float: left;
}

.delete-block{float: right;padding: 10px;}

.add_block_link:hover{background-position: bottom}

.blocks{
    float: left;
    width: 760px;
    padding: 0 0 0 20px;
    margin-bottom: 0;
    background: #f5f5f5;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#f9f9f9),to(#f0f0f0));
    background-image: -webkit-linear-gradient(bottom,#f9f9f9,#f0f0f0);
    background-image: -moz-linear-gradient(bottom,#f9f9f9,#f0f0f0);
    background-image: -o-linear-gradient(bottom,#f9f9f9,#f0f0f0);
    background-image: linear-gradient(to top,#f9f9f9,#f0f0f0);
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    margin-left: 10px;
}

.blocks h4 {
    float:left;
}


o.tk-widget-admin {
    float:left;
    width:430px;
    padding:0 0 0 20px;
    margin-bottom:0;
}

.tk-widget-admin a {
    float:right;
    width:18px;
    height:18px;
    margin:13px 10px 0 0;
}

.tk-widget-admin h4 {
    float:left;
    padding: 0 10px;
}


.add_block_link{
    background-repeat:no-repeat;
    background-position: top;
    width: 122px;
    height: 45px;
    float: left;
}

.delete-block{float: right;padding: 10px;}

.add_block_link:hover{background-position: bottom}

.blocks{
    float: left;
    width: 760px;
    padding: 0 0 0 20px;
    margin-bottom: 0;
    background: #f5f5f5;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#f9f9f9),to(#f0f0f0));
    background-image: -webkit-linear-gradient(bottom,#f9f9f9,#f0f0f0);
    background-image: -moz-linear-gradient(bottom,#f9f9f9,#f0f0f0);
    background-image: -o-linear-gradient(bottom,#f9f9f9,#f0f0f0);
    background-image: linear-gradient(to top,#f9f9f9,#f0f0f0);
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
}

.blocks h4 {
    float:left;
}

.margin-bot-10{margin-bottom: 10px;display: inline-block;width: 100%;}

.clear{clear: both}

#advertisement_meta_box .form-table td{
    margin: 0px !important;
    padding: 0px !important;
}

#advertisement_meta_box  .inside {
    padding:5px;
    margin:0;
}

#advertisement_meta_box .inside .form-table {
    margin-top:0;
}

#advertisement_meta_box .period_selector{
    text-align: right;
    margin-right: 5px;
}
#advertisement_meta_box .period_selector a{
    margin-left: 2%;

}

.tk-widget-text {
    float:left;
    width:85%;
}

.tk-delete-post {
    margin:3px 0 0 2px;
    float:right;
}

.widgets-advert-order ul li {
    width:95%;
    float:left;
    border:1px solid #dfdfdf;
    padding:7px 7px 4px 7px;
    margin:5px 0 7px 0;
}
.group {
    zoom: 1;
}

#accordion{
    /*float: left;*/
    width: 825px;
}

.group{
    width: 820px;
    float: left;
}

.group h3{
    background: linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 7px 10px;
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    border-color: #DFDFDF;
    text-transform: uppercase;
    color: #464646;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif!important;

}

.blocks{
    float: left;
    margin-bottom: 5px;
    padding: 0 0 0 20px;
    width: 797px;
    margin-left: 0px;
}

.page-builder-holder{
    max-width: 960px;
    margin-bottom: 20px;
}

#screenshot {
    position:absolute;
    background-color:#fff;
    border:1px solid rgba(0, 0, 0, 0.5);
    padding:10px 15px 10px 15px;
}

.form-table .widget {
    margin-bottom:0;
    float:left;
}

#tk_sidebar {
    width:100%;
}
.ui-widget-content{
    padding-bottom: 20px;
    padding-top: 10px;
}
.ui-accordion-header{
    cursor: move;
}

.reservations-hide {
    opacity:0;
    display:none;
}

.reservations-show {
    opacity:1;
    display:table-row;
}