/*--- SCROLL TOP ---*/
.scroll-top{
    float: right;
    width: 98px;
    height: 32px;
}

#back-top {
    float: left;
    width: 98px;
    color: #555147;
    font-size: 11px;
    font-family: 'Dosis';
    text-transform: uppercase;
    margin: 13px 0 0 0;
}

.scroll-top a {
    float: right;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 9;
    margin-top: -9px;
}

.scroll-top span {
    float: right;
    width: 32px;
    height: 32px;
    display: block;
    background: url(img/scroll-top.png) no-repeat top left;
    margin: 0;
}

.scroll-top span:hover { background-position: bottom; }