/*--- SCROLL TOP ---*/
.scroll-top{
    float: right;
    width: 27px;
    height: 27px;
    background-color: #292929;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    right: 0;
}

#back-top {
    width: 27px;
    height: 27px;
}

#back-top a {
    float: right;
    width: 27px;
    height: 27px;
    position: relative;
}

#back-top span {
    float: right;
    width: 27px;
    height: 58px;
    display: block;
    background: url(img/scroll-top.png) no-repeat top left;
    margin: 0;
    position: relative;
    top: 0;
}