.flip-container:hover .front {
    display:none;
}

.flip-container:hover .back {
    -webkit-transform: rotateY(0);
}


.span12 .pricing-table-one-center{padding: 7px 46px;}
.span12 .pricing-button{width: 99.8%;}

.span6 .pricing-table-one-center{padding: 7px 22px;}
.span6 .pricing-button{width: 99.6%;}

.span4 .pricing-table-one-center{padding: 7px 14px;}
.span4 .pricing-button{width: 99.5%;}

.span3 .pricing-table-one-center{padding: 7px 10px;}
.span3 .pricing-button{width: 99.1%;}