.sidebar_widget_holder #s input.search-input, .footer_box #s input.search-input {margin: 10px 0 0 3px; }
.footer_box .newsletter .input-newsletter {margin:12px 0 0 10px; width:190px;}
.sidebar_widget_holder .newsletter .input-newsletter {width:161px;}